/* Reset default styles */
* {
  margin: 2;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: ##00A878;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  color: #00A878;
}

nav a {
  text-decoration: none;
  color: #0B0500;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #F3C178;
}

/* Hero section */
.hero {
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
}

p{
  font-size: 20px;
  text-align: center;
}

/* Container styles */
.container, .large-container {
  background: white;
  margin: 0 auto;
}

.container {
  width: 75%;
}

.large-container {
  width: 90%;
}

/* Info groups */
.info-groups {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.info-groups h2 {
  text-align: center;
  margin-bottom: 20px;
}

.info-group {
  width: 32%;
  text-align: center;
  margin-bottom: 20px;
}

.info-group img {
  width: 100%;
  margin-bottom: 10px;
}

.info-group h3 {
  font-size: 2em;
  margin-bottom: 5px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reg-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

/* List styles */
.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 5px;
}

/* Other styles */

a {
  color: #000000;
}

table {
  width: 100%;
}

th, td {
  height: 70px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid ##FE5E41
  background-color #000000 white;
}

footer { 
  color: #000000;
  text-align: center;
  padding: 10px;
  position:static
  bottom 0;
  width: 100%;
}


/* Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.3em;
  }
  .about p, .interests ul, .contact p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  section {
    margin-bottom: 10px;
  }
}
