body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex; /* Maintains flexbox for alignment */
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #ddd;
}

.hero {
    text-align: center;
}
  
.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.container {
  /* border-radius: 5px; */
  background: white;
  margin: 0 auto;
  /* padding: 25%; */
  width: 75%;
}
  
.info-groups {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.info-groups h2 {
  text-align: center;
  margin-bottom: 20px;
}

.info-group {
  width: 32%;  /* Adjust width slightly to account for spacing */
  text-align: center;
  margin-bottom: 20px;
}

.info-group img {
  width: 100%; /* Ensures images fill the available width */
  margin-bottom: 10px;
}

.info-group h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

h1{
  font-size: 2em;
  margin-bottom: 0;
}

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3{
  font-size: 2em;
  margin-bottom: 0;
}

main{
  padding: 20px;
}
  
section{
  margin-bottom: 20px;
}

.reviews{
  width: auto;
}
  
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
        
      
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px; */


  .about p, .list ul, .contact p {
    line-height: 1.5;
  }

  
  
  .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button {
    font-size: 16px;
  }
  
  .list li {
    margin-bottom: 5px;
  }
  
  a {
    color: #000000;
  }

  table {
    width: 100%;
  }

  

  th, td {
    height: 70px;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd
    background-color #000000 white;

  }

  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsiveness */
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.3em;
    }
    .about p, .interests ul, .contact p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    section {
      margin-bottom: 10px;
    }
  }

