<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <nav>
      <a class="active" href="/index"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/trips">Trip Reviews</a>
      <a href="/about">About</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </header>
  <main>
    <section class="about">
      <div class="large-container">
        <h1>404 - Page Not Found</h1>
        <p>Looks like you're lost! <a href="/">Go back to safety</a></p>
        <img src="/static/img/giphy.gif" alt="cat waiting for you">
    </div>
    </section>
  </main>
  <br>
  <footer>
    <p>&copy; Spring 2024 | Noemia McCarthy | SE19 & SE01 | Alternative Combination </p>
  </footer>
</br>
</body>
</html>
