<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <nav>
      <a href="/index">Home</a>
      <a href="/trips">Trips</a>
      <a href="/about">About</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </nav>
  </header>
  <main>
    <section class="hero">
      <h1>Welcome to Selma & Felix BnB</h1>
      <h2>your bavarian home away from home</h2>
    </section>
    <div class='container'>
      <section class="info-groups">
        <div class="info-group">
          <img src="/static/img/selma&felix.jpeg" alt="selma&felix image">
          <h3>What is SF BnB?</h3>
        </div>
      </section>
      <p>Selma and Felix moved to Munich. All their friends and family want to visit them. As there is a long list of people wanting to visit, my project aims to help them plan their guests better.
        The SF B'n'b enables Selma and Felix's friends to find dates when they want to visit. As well as find out more about what activities they can do e.g. skiing or hiking.</p>
  </div>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>

