<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>
  <header>
    <h1>Create an account!</h1>
  </header>
  <main>
    <section class="about">
      <h2>Let's get started!</h2>
    
      <form action="/profile" method="GET">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required>
        <label for="sname">Surname:</label>
        <input type="text" id="sname" name="sname" required>
        <button type="submit">Go to Profile</button>
      </form>

    
    <section class="list">
      <h2>Menu</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Page</a></li>
        <li><a href="mailto:noemia.mccarthy@code.berlin">Contact</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>
