<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <nav>
      <a href="/index">Home</a>
      <a href="/trips">Trips</a>
      <a href="/about">About</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </nav>
  </header>
  <main>
    <section class="hero">
      <h1>Welcome to Selma & Felix BnB</h1>
      <h2>your bavarian home away from home</h2>
    </section>
    <div class='container'>
      <section class="info-groups">
        <div class="info-group">
          <img src="/static/img/skiing.jpg" alt="skiing image">
          <h3>Skiing</h3>
          <p>Bavaria's slopes beckon: carve fresh powder on legendary ski runs!</p>
        </div>
        <div class="info-group">
          <img src="/static/img/swimming.jpg" alt="swimming image">
          <h3>Swimming</h3>
          <p>Dive into pristine alpine lakes: Bavaria's refreshing swimming awaits!</p>
        </div>
        <div class="info-group">
          <img src="/static/img/hiking.jpg" alt="hiking image">
          <h3>Hiking</h3>
          <p>Hike through breathtaking scenery: explore Bavarian mountains on unforgettable trails!</p>
        </div>
      </section>
  </div>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>

