<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <h1>your Bavarian home away from home</h1>
  </header>
  <main>
    <section class="about">
      <h1>Book a trip now!</h1>
      <p>With SF BnB you have a variety of chances to visit our beloved Selma & Felix throughout the year.</p>
    </section>
    <section class="list">
      <h2>What's on offer?</h2>
      <ul>
        <li>SKIING</li>
        <li>HIKING</li>
        <li>SWIMMING</li>
      <h2>Menu</h2>
      <ul>
        <li><a href="about.html">About Page</a></li>
        <li><a href="account.html">Create an Account</a></li>
        <li><a href="mailto:noemia.mccarthy@code.berlin">Contact</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>

