<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <nav>
      <a class="active" href="/index"><i class="fa fa-fw fa-home"></i> Home</a>
          <a href="/index">Home</a>
          <a href="/trips">Trip Reviews</a>
          <a href="/about">About</a>
          <a href="/index">Logout</a>
        </nav>
      </header>
    <main>
    <section class="hero">
      <h1>Welcome,{{ username }} to your SFBnB profile</h1>
    </section>
  </main>
  <br>
  <footer>
    <p>&copy; Spring 2024 | Noemia McCarthy | SE19 & SE01 | Alternative Combination </p>
  </footer>
</br>
</body>
</html>
