<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>
    <header>
        <nav>
          <a href="/templates/index.html">Home</a>
          <a href="/templates/trips.html">Trips</a>
          <a href="/templates/about.html">About</a>
          <a href="/templates/register.html">Register</a>
          <a href="/templates/login.html">Login</a>
        </nav>
      </header>
    <main>
    <section class="hero">
      <h1>Welcome,{{ username }} to your SFBnB profile</h1>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>
