<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit Selma & Felix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <nav>
      <a href="/index">Home</a>
      <a href="/trips">Reviews</a>
      <a href="/about">About</a>
      <a href="/register">Login</a>
    </nav>
  </header>
  <main>
    <section class="hero">
      <h1>Welcome to Selma & Felix BnB</h1>
      <h2>your bavarian home away from home</h2>
    </section>
    <div class='container'>
      <section class="info-groups">
        <div class="info-group">
          <img src="/static/img/skiing.jpg" alt="skiing image">
          <h3>Skiing</h3>
          <p>Bavaria's slopes beckon: carve fresh powder on legendary ski runs!</p>
        </div>
        <div class="info-group">
          <img src="/static/img/swimming.jpg" alt="swimming image">
          <h3>Swimming</h3>
          <p>Dive into pristine alpine lakes: Bavaria's refreshing swimming awaits!</p>
        </div>
        <div class="info-group">
          <img src="/static/img/hiking.jpg" alt="hiking image">
          <h3>Hiking</h3>
          <p>Hike through breathtaking scenery: explore Bavarian mountains on unforgettable trails!</p>
        </div>
      </section>
  </div>
  <section class="hero">
    <div class='container'>
      <h1>Let others know how your trip was by leaving a review</h1>
    <!-- <div style="margin-top: 24px;" class="reviews"> -->
      <form action="/reviews" method="post">
        <div class ='row'>
          <div class="col-25">
            <label for="name">Guest name(s)</label>
          </div>
          <div class="col-75">
          <input  name="name" id="name" type="text" placeholder="Name"/>
          </div>
        </div>
        <div class ='row'>
          <div class="col-25">
            <label for="description">Your review</label>
          </div>
          <div class="col-75">
          <input  name="description" id="description" type="text" placeholder="How was your trip?"/>
          </div>
        </div>
          <div class="row">
            <div class="col-25">
            <label for="rating">Rate your trip from 1 - 5 ⭐</label>
            </div>
            <div class="col-75">
              <select id="rating" name="rating">
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
              </select>
            </div>
          </div>
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    </div>
    <div class='container'>
      <h1>Here are some of the latest reviews</h1>
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Review</th>
              <th>Rating</th>
          </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review[1] }}</td>
            <td>{{ review[2] }}</td>
            <td>{{ int_to_stars(review[3]) }} ({{ review[4] }})</td>
            <td><form action="/reviews/{{ review[0] }}/upvote" method="post">
              <button type="submit">👍</button>
            </form></td>
            <td><form action="/reviews/{{ review[0] }}/downvote" method="post">
              <button type="submit">👎</button>
            </form></td>
            <td><form action="/reviews/{{ review[0] }}/delete" method="post">
              <button type="submit">Delete</button>
            </form></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
    </div>
  </section>
  </main>
  <footer>
    <p>&copy; 2024 SF BnB</p>
  </footer>
</body>
</html>

